.green{
	width: 50px;
	height: 50px;
	background: green;
}

#dino{
	width: 200px;
	height: 50px;
	background: #000;
	margin: auto;
	border: 1px solid #000;
}

#dino:hover{
	background: #fff;
}

#cactus{
	width: 50px;
	height: 50px;
	background: red;
	margin: 20px auto;
}